@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family:   sans-serif ;
    /* font-weight:bold; */
    background-color: #F5F5F5;
    /* xs:font-serif ;
     sm:font-sans;
      md:font-serif ;
      lg:font-serif; */
}
/* TABLE */

table{
    margin-bottom: 20px;
}

table th {
    padding: 8px 8px;
    background-color: rgb(32, 178, 88);
}

table td{
    text-align: center;
    border: 2px solid grey;
    padding: 5px;
}



/* NEW ENTRY */

.container-3 {
    background-color: lightgrey;
    padding: 35px;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

.box {
    margin: 20px;
}

div button{
    padding: 3px;
    position: relative;
    left: 65px;
    cursor: pointer;
}
table button{
    max-width: 40px;
}


/* For MarQ */

.float {
    
    z-index: 1;
    height: 200px;
     
}

.marquee-container {
    position: absolute;
    /* top: 70%; */
    left: 0;
    width: 100%;
    /* padding-top: 50px; */
    transform: translateY(10%);
}


.marquee {
    display: inline-flex;
    font-size: 15px;
    color: #4c5ee8;
    scale: 2;
    white-space: nowrap;
    position: absolute;
    overflow-x: hidden;
    left: 0;
    right: 0;
    animation: moveSlideshow 5s linear infinite;

}

.marquee i {
    margin: 0px 3px;
   
}

@keyframes moveSlideshow {
    100% { 
        transform: translateX(-200px);  
      }
}
 

/* text */
  .animation1 {
    /* border-right: solid 3px rgba(1, 1, 1, 0.75); */
    white-space: nowrap;
    overflow: hidden;    
    font-family: 'Times New Roman', Times, serif;  
    /* font-size: 80px; */
    font-weight: bold;
    color: rgba(255, 255, 255, 0.858);
    text-shadow: 6px 1px rgba(77, 75, 75, 0.846);
  }
  
  /* Animation */
  .animation2 {
    animation: animated-text 4s steps(35,end) 1s 1 normal both,
               animated-cursor 600ms steps(35,end) infinite;
  }
  
  /* text animation */
  
  @keyframes animated-text{
    from{width:0;}
    to{width: auto;}
  }
  
  /* cursor animations */
  
  .float {
    margin-top: 25px;
}

.marquee-container {
    position: absolute;
    /* top: 70%; */
    left: 0;
    width: 100%;
    padding-top: 50px;
    transform: translateY(-50%);
}


.marquee {
    display: inline-flex;
    /* font-size: 48px; */
    
    /* scale: 2; */
    white-space: nowrap;
    position: absolute;
    /* overflow-x: hidden; */
    left: 0;
    animation: moveSlideshow -500ms linear infinite;

}


.marquee i {
    margin: 10px 30px;
    width: 70px;
    background: #e8e8e8;
    padding: 10px;
    border-radius: 50%;
}

@keyframes moveSlideshow {
    50% { 
        transform: translateX(-300px);  
      }
}

@media(max-width: 450px){
   .marquee-container{
       width: 250%;
       padding-top: 30px;
   }
   

     
}